# Table of Contents:
1. Exploratory Data Analysis (EDA)
2. Data Preprocessing

# 1. Exploratory Data Analysis (EDA):

In [17]:
import pandas as pd

real_estate_df = pd.read_csv("real_estate_dataset.csv")
real_estate_df.head()

C:\Users\Huyen\AppData\Local\Temp\ipykernel_18792\3545624701.py:3: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate_df = pd.read_csv("real_estate_dataset.csv")

,Property_type,Area,Width,Length,Frontage,Number_of_floors,Number_of_bedrooms,Number_of_bathrooms,Legal_status,Furniture,...,Access_road,Posting_date,Expiry_date,Type_of_listing,Project_name,Street,Ward,District,Province,Price
0,Nhà biệt thự,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,04/11/2023,11/11/2023,Tin VIP Kim Cương,Dự án Camellia Garden,NaN,NaN,Bình Chánh,TP Hồ Chí Minh,18.0
1,Nhà biệt thự,196.0,NaN,NaN,10.0,1.0,3.0,3,Giấy tờ khác,NaN,...,10.0,04/11/2023,11/11/2023,Tin VIP Bạc,Dự án Khu dân cư Camellia Garden,NaN,NaN,Bình Chánh,TP Hồ Chí Minh,18.0
2,Nhà biệt thự,282.0,NaN,NaN,NaN,2.0,4.0,6,Đã có sổ,Có nội thất,...,16.0,01/11/2023,11/11/2023,Tin VIP Bạc,NaN,Đường số 2,Xã Tân Kiên,Bình Chánh,TP Hồ Chí Minh,21.0
3,Nhà biệt thự,80.0,NaN,NaN,NaN,3.0,4.0,3,Đã có sổ,Có nội thất,...,NaN,01/11/2023,16/11/2023,Tin thường,Dự án Lovera Park,Đường Trịnh Quang Nghị,Xã Phong Phú,Bình Chánh,TP Hồ Chí Minh,6.5
4,Nhà biệt thự,337.5,NaN,NaN,15.0,3.0,5.0,6,Đã có sổ,Có nội thất,...,18.0,31/10/2023,07/11/2023,Tin VIP Bạc,Dự án Đại Phúc Green Villas,Đường Phạm Hùng,Xã Bình Hưng,Bình Chánh,TP Hồ Chí Minh,38.0

In [18]:
# Check the effect of the null values on the dataset:
for column in real_estate_df.columns:
    unique_values = real_estate_df[column].unique()
    print(f"\033[1m{column}:\033[0m \n {unique_values}")

Property_type:
 ['Nhà biệt thự' 'Nhà mặt phố' 'Nhà ngõ, hẻm' 'Nhà phố liền kề' 'Chung cư'
 nan]
Area:
 [196.   282.    80.   ...  62.13 105.95 111.9 ]
Width:
 [     nan   4.       6.      22.       3.3      3.       3.6      3.8
   7.      12.5      8.5      4.5      4.2     49.       7.8      8.
  11.       5.      11.4      5.5      5.2      2.5      5.82    10.
   3.2      3.5      4.6      4.8     20.       5.4      4.4      5.8
   5.75    12.       5.7      3.4     36.       6.6      3.25     4.3
   4.1      5.16     6.2      3.1      9.5      9.       6.5      3.7
   3.9     13.       3.45     3.71    15.       7.2      8.02    10.5
   7.6     12.15     4.7      6.7      5.3      8.4      5.6      4.05
  14.5      5.1      5.13    16.4     14.       6.1      4.22    26.
  35.       4.02     4.12     3.92    28.      23.      41.      37.
  45.       8.2      9.8      4.25     2.8      4.36    11.5     83.
   7.3     55.       7.5      4.01    11.25     3.85   350.       6.8
  44.       5.55     9.27    42.       6.3      8.24     3.65     3.36
   7.1      3.55     4.15     6.4      4.35     8.1      4.9      4.56
  47.       5.65     2.6      4.45     2.       4.53    10.7      3.66
  96.       6.34     5.15     5.34     2.7      3.35     8.6      2.4
   3.75    30.       4.55     7.55     4.14     4.65     5.45     4.54
   4.26     3.95    59.      16.       4.24     4.23     5.05     2.3
   4.95     8.8     13.5      4.1999   3.0999   9.2     63.      25.
   9.1     68.      18.      60.       5.9     17.85    38.       9.6
   3.7999   4.31     2.06     3.06     5.33     6.1999   4.6999   7.1999
   4.66    21.       4.1799   8.7     33.       2.2      2.9      6.9
  40.       7.4     10.45     4.0999   3.2999]
Length:
 [     nan  25.      18.      23.       8.3      6.       7.      12.
  20.      11.      13.5     16.       4.      12.6      9.       8.
  10.     222.5      1.86    12.5     14.      16.5     27.      26.
   8.7     37.      19.      28.      13.      17.      22.5     21.
  30.      21.5     15.       5.      48.       9.49    18.5     22.
  45.       9.5      8.5     10.5     35.      24.      23.4     60.
  19.5     18.7     40.       3.      16.2      5.5     17.5     14.5
  17.2      5.4      7.3     11.9      4.2     14.3     31.5      7.5
   6.2      7.2      6.5     10.2     44.      21.3     24.5     20.3
  12.2      9.4     77.      54.      15.5     13.2     13.6     11.5
   8.8     10.6     17.8     12.4     14.7      3.5     11.4     13.4
  32.      38.       8.2     11.45    12.25    15.1     13.25    50.
  14.6     17.7      9.1     29.      12.3     19.4      6.7     15.7
  20.2     12.9     13.75    20.6     93.      11.36     4.8     90.
   9.3     46.      13.8     13.7     34.8     31.     145.      14.82
  11.6      1.      26.5      2.      11.2     36.5     11.1    165.
  13.1     34.       7.8    110.      47.16    16.8      9.2     16.6
  14.8     15.4     27.5     12.6999  17.75    33.       8.25    75.
  12.8      5.3      4.43    42.      28.4     10.24    23.5     18.2
   5.1   ]
Frontage:
 [   nan  10.    15.     6.     7.     5.    12.    16.     9.    16.5
  15.6   38.    25.    12.5   14.    11.     5.7    7.5   36.     8.
  20.    15.5   30.     4.5    9.6    6.5    5.3   18.    13.8   26.
   8.8    4.     8.25  34.    40.     4.3    8.2   13.5    8.5   13.
   6.8    5.5    6.4   11.5    7.1   10.4    6.75   6.9    7.8   21.
  22.    10.5   35.     2.    14.5   32.    55.     8.6   14.8   17.
  60.     9.5   44.    23.    19.     7.6   18.7   19.5   16.7   17.5
   5.2   24.     9.8   16.75   7.4   18.75   5.4   11.25  50.     9.1
  14.3   13.2    9.9    7.2    5.1   17.2    4.55   3.6    6.7    4.6
   4.2    3.8    4.1   12.3  150.     4.4    5.32   4.54  47.     4.8
   3.56   8.1    4.9    6.1   20.6    3.9    4.7    6.52   2.7   28.
   3.     4.02   6.2    3.1   46.     6.24   9.7    9.3    8.4   10.2
   9.4    6.3  120.     3.5    4.15   5.8    9.27   6.6    3.3  186.
   9.2    8.16   8.3    4.25  15.4    3.7    3.4   43.     5.6    4.05
   5.17  10.6    3.2   11.6    5.48   8.7    3.85   9.42   4.75   5.9
   1.     5.35   7.15   8.22   8.93   7.7    5.08  16.06   6.48   5.85
   6.95   5.15  15.2   29.     5.25   3.65   3.55   6.05   6.15   3.25
   7.3    4.51  31.     3.61  27.     6.08  12.4    5.68  10.45  12.7
  10.7   45.     6.78   8.88   5.55  13.12   8.64   5.05  12.1  323.
   4.95   9.65   7.35   7.29  20.5   14.2   70.1    8.45  41.     7.25
  27.5    4.85   7.65   7.04  18.8    4.16   9.22   5.45   5.69   4.01
   2.5    5.95   4.45   5.28   3.05   5.02   4.06   2.6    5.22   6.25
   3.75  97.    12.78  56.     5.33   4.07   3.87   4.29   5.65   3.33
   4.35   2.79   4.12   3.35   5.23  12.39   4.33   4.66   7.9    6.45
 375.     6.55   3.51   3.95   3.16   4.22   5.37   3.62   3.22   2.52
   4.86   9.52   6.85   3.86   5.78  22.5    4.19   3.52  11.04   6.53
   8.56   2.38   2.4    1.7    2.2    3.73   3.15   3.77   3.06  11.4
  18.15   6.02   4.32   5.75   4.65   2.85   5.73   5.18   4.56   2.8
   4.18   4.04   4.37   4.08   4.17  10.74 980.    13.7    2.15   3.45
  21.5    4.13  15.8    4.52   8.11  12.9   16.2    5.96   5.86   6.29
   5.72  12.8   27.78 500.    14.6   16.58]
Number_of_floors:
 [ nan   1.   2.   3.   5.   4.   6.   7.   8.  10.   9.  12.  11.  13.
  14.  16.  15.  17.  18.  24.  40.  22.  33.  44.  34.  31. 344.]
Number_of_bedrooms:
 [ nan   3.   4.   5.   6.   2.  18.   8.  55.   7.   9.   1.  16.  10.
  13.  11.  12.  30.  25.  20.  24.  21.  68.  70.  32.  33.  17. 130.
  23.  15.  60.  14.  28.  36.  26.  22. 120.  19.  40.  42.  29.  50.
  81.  44.  43.  48. 122.  34.  75.  47.  52.  76.  80. 126.  38.  65.
 128.  39.  71.  84.  35.  85. 100.  87. 200.  37.  63.  45.  49.  95.
  94.  64.  88. 135.  59. 155. 125.  27.  57. 112.  54.  46.]
Number_of_bathrooms:
 [nan '3' '6' '4' '2' '5' 'Nhiều hơn 6 phòng' '1']
Legal_status:
 [nan 'Giấy tờ khác' 'Đã có sổ' 'Đang chờ sổ']
Furniture:
 [nan 'Có nội thất' 'Không nội thất' 'Bàn giao thô' 'Không có nội thất']
House_orientation:
 [nan 'Tây - Nam' 'Tây - Bắc' 'Đông - Bắc' 'Đông - Nam' 'Đông' 'Tây' 'Nam'
 'Bắc' 'Đông Nam' 'Tây Nam' 'Đông Bắc' 'Tây Bắc']
Balcony_orientation:
 [nan 'Nam' 'Tây' 'Đông - Bắc' 'Đông - Nam' 'Đông' 'Tây - Bắc' 'Bắc'
 'Tây - Nam' 'Đông Nam' 'Tây Bắc' 'Đông Bắc' 'Tây Nam']
Access_road:
 [   nan  10.    16.    18.    20.    12.    52.    25.    22.    40.
  10.5   14.     8.    30.     6.    11.    15.    24.    36.    35.
  50.     9.     7.     5.    13.    60.    17.6    3.    26.    45.
  53.    46.    42.    21.    17.    18.5   19.    17.5   39.     4.
  13.5   23.5   48.    29.    31.    23.    43.    32.    80.    12.5
  34.    22.5  100.   320.    27.    14.6  120.    79.    55.    65.
  20.5   71.    15.5    3.5    7.5    1.5    2.     5.5    4.5   16.5
   6.5    4.2    7.9    2.5   13.2    2.2    3.8   66.     4.6    3.7
   7.7    8.5    7.3    3.6    5.2    6.6    3.1  296.     4.1  137.
   6.3    4.8    9.5    2.8    1.7    1.05 322.     2.4    4.7    1.3
   5.3    2.75   4.4   62.  ]
Posting_date:
 ['04/11/2023' '01/11/2023' '31/10/2023' '30/10/2023' '20/10/2023'
 '28/10/2023' '03/11/2023' '09/10/2023' '26/10/2023' '29/10/2023'
 '02/11/2023' '27/10/2023' '22/10/2023' '24/10/2023' '25/10/2023'
 '23/10/2023' '15/10/2023' '18/10/2023' '17/10/2023' '16/10/2023'
 '12/10/2023' '11/10/2023' '10/10/2023' '06/10/2023' '06/11/2023'
 '05/11/2023' '13/10/2023' '08/11/2023' '07/11/2023' '21/10/2023'
 '09/11/2023' '07/10/2023' '19/08/2023' '13/08/2023' '15/07/2023'
 '12/06/2023' '01/06/2023' '30/05/2023' '21/05/2023' '11/11/2023'
 '10/11/2023' '17/11/2023' '18/11/2023' '23/11/2023' '22/11/2023'
 '20/11/2023' '19/11/2023' '16/11/2023' '15/11/2023' '12/11/2023'
 '21/11/2023' '13/11/2023' '14/11/2023' '14/10/2023' '03/10/2023'
 '02/10/2023' '22/09/2023' '04/09/2023' '18/08/2023' '25/08/2023'
 '04/08/2023' '26/09/2023' '21/09/2023' '12/07/2023' '26/05/2023'
 '19/05/2023' '16/05/2023' '19/09/2023' '16/09/2023' '11/09/2023'
 '27/07/2023' '25/07/2023' '23/09/2023' '24/11/2023' '26/08/2023'
 '09/08/2023' '24/08/2023' '19/10/2023' '20/09/2023' '01/09/2023'
 '28/08/2023' '08/08/2023' '14/07/2023' '22/06/2023' '23/06/2023'
 '25/09/2023' '28/09/2023' '16/08/2023' '03/08/2023' '18/09/2023'
 '30/08/2023' '08/10/2023' '05/10/2023' '01/10/2023' '29/08/2023'
 '13/09/2023' '12/09/2023' '06/09/2023' '14/08/2023' '17/07/2023'
 '20/06/2023' '21/08/2023' '07/09/2023' '25/11/2023' '30/09/2023'
 '31/07/2023' '02/09/2023' '04/10/2023' '31/08/2023' '07/08/2023'
 '02/08/2023' '24/07/2023' '18/07/2023' '16/06/2023' '08/06/2023'
 '28/02/2023' '29/09/2023' '03/07/2023' '07/06/2023' '05/05/2023'
 '23/08/2023' '27/09/2023' '12/08/2023' '15/09/2023' '22/07/2023'
 '22/08/2023' '10/26/2023' '10/18/2023' '11/16/2023' '10/24/2023'
 '10/22/2023' '09/24/2023' '10/29/2023' '10/09/2023' '11/05/2023'
 '11/13/2023' '11/01/2023' '10/31/2023' '10/20/2023' '11/12/2023'
 '10/27/2023' '11/06/2023' '10/23/2023' '10/21/2023' '10/17/2023'
 '10/30/2023' '11/03/2023' '10/28/2023' '11/04/2023' '09/29/2023'
 '09/23/2023' '09/28/2023' '10/15/2023' '09/25/2023' '10/07/2023'
 '11/02/2023' '10/03/2023' '11/14/2023' '11/07/2023' '10/01/2023'
 '10/08/2023' '10/16/2023' '11/15/2023' '11/08/2023' '09/21/2023'
 '09/26/2023' '09/30/2023' '09/22/2023' '09/14/2023' '09/16/2023'
 '10/19/2023' '10/06/2023' '09/27/2023' '10/05/2023' '10/02/2023'
 '09/20/2023' '09/18/2023' '09/05/2023' '09/09/2023' '10/04/2023']
Expiry_date:
 ['11/11/2023' '16/11/2023' '07/11/2023' '14/11/2023' '04/11/2023'
 '13/11/2023' '03/12/2023' '10/11/2023' '08/11/2023' '05/11/2023'
 '18/11/2023' '02/12/2023' '12/11/2023' '06/11/2023' '17/11/2023'
 '23/11/2023' '01/12/2023' '29/11/2023' '15/11/2023' '30/11/2023'
 '09/11/2023' '26/11/2023' '06/12/2023' '27/11/2023' '22/11/2023'
 '21/11/2023' '24/11/2023' '20/11/2023' '19/11/2023' '03/11/2023'
 '27/10/2023' '20/10/2023' '17/10/2023' '18/09/2023' '23/08/2023'
 '25/07/2023' '22/06/2023' '11/06/2023' '29/06/2023' '05/06/2023'
 '28/10/2023' '02/11/2023' '31/10/2023' '08/12/2023' '28/11/2023'
 '22/12/2023' '05/12/2023' '25/11/2023' '10/12/2023' '13/12/2023'
 '12/12/2023' '09/12/2023' '17/12/2023' '16/12/2023' '15/12/2023'
 '07/12/2023' '23/12/2023' '14/12/2023' '20/12/2023' '04/12/2023'
 '21/12/2023' '19/12/2023' '11/12/2023' '24/10/2023' '13/10/2023'
 '12/10/2023' '07/10/2023' '14/09/2023' '28/08/2023' '04/09/2023'
 '19/08/2023' '06/10/2023' '01/10/2023' '22/07/2023' '29/05/2023'
 '26/05/2023' '30/10/2023' '29/09/2023' '26/09/2023' '11/10/2023'
 '14/08/2023' '11/08/2023' '04/08/2023' '26/10/2023' nan '30/09/2023'
 '07/09/2023' '18/08/2023' '24/07/2023' '02/07/2023' '03/07/2023'
 '18/12/2023' '01/11/2023' '23/10/2023' '28/09/2023' '23/09/2023'
 '22/09/2023' '16/09/2023' '08/09/2023' '24/08/2023' '06/08/2023'
 '27/07/2023' '30/06/2023' '29/10/2023' '10/10/2023' '03/10/2023'
 '10/08/2023' '12/09/2023' '14/10/2023' '10/09/2023' '31/08/2023'
 '26/08/2023' '17/08/2023' '12/08/2023' '03/08/2023' '28/07/2023'
 '26/06/2023' '08/07/2023' '21/10/2023' '09/10/2023' '05/09/2023'
 '13/07/2023' '17/06/2023' '04/06/2023' '24/12/2023' '15/10/2023'
 '02/09/2023' '25/10/2023' '22/08/2023']
Type_of_listing:
 ['Tin VIP Kim Cương' 'Tin VIP Bạc' 'Tin thường' 'Tin VIP Vàng' nan]
Project_name:
 ['Dự án Camellia Garden' 'Dự án Khu dân cư Camellia Garden' nan ...
 'Sunview Town, số 18' 'Dự án Opal Tower' 'Chương Dương Home, 34']
Street:
 [nan 'Đường số 2' 'Đường Trịnh Quang Nghị' ... 'Lô 8, Cư Xá Thanh Đa'
 '221-223 Trịnh Đình Trọng' '40, Đường DN10']
Ward:
 [nan 'Xã Tân Kiên' 'Xã Phong Phú' 'Xã Bình Hưng' 'Xã Vĩnh Lộc A'
 'Xã Đa Phước' 'Phường Bình Trị Đông B' 'Phường Bình Hưng Hòa B'
 'Phường An Lạc' 'Phường 16' 'Phường Bình Trị Đông' 'Phường Tân Tạo A'
 'Phường Tân Tạo' 'Phường Bình Hưng Hòa' 'Phường Bình Hưng Hòa A'
 'Phường Bình Trị Đông A' 'Phường 7' 'Phường 6' 'Phường 13'
 'Phường Hiệp Bình Phước' 'Phường 17' 'Phường 26' 'Phường 22' 'Phường 3'
 'Phường 25' 'Phường 11' 'Phường 24' 'Phường 5' 'Phường 28' 'Phường 12'
 'Phường 27' 'Phường 19' 'Xã Long Hòa' 'Xã Lý Nhơn' 'Phường Cần Thạnh'
 'Xã Trung Lập Hạ' 'Xã Bình Mỹ' 'Xã An Nhơn Tây' 'Xã An Phú'
 'Thị trấn Củ Chi' 'Xã Nhuận Đức' 'Xã Phú Hòa Đông' 'Phường 10' 'Phường 9'
 'Phường 8' 'Phường 14' 'Phường 1' 'Phường 4' 'Xã Thới Tam Thôn'
 'Xã Tân Hiệp' 'Xã Bà Điểm' 'Xã Tân Xuân' 'Xã Nhị Bình' 'Thị trấn Hóc Môn'
 'Xã Trung Chánh' 'Xã Phước Kiển' 'Xã Phú Xuân' 'Thị trấn Nhà Bè'
 'Xã Long Thới' 'Xã Nhơn Đức' 'Xã Phước Lộc' 'Phường 15' 'Phường 2'
 'Phường Tam Phú' 'phường 12' 'Phường Tân Hưng Thuận' 'Phường Thạnh Xuân'
 'Phường Thạnh Lộc' 'Phường An Phú Đông' 'Phường Hiệp Thành'
 'Phường Thới An' 'Phường Tân Thới Hiệp' 'Phường Đa Kao'
 'Phường Nguyễn Cư Trinh' 'Phường Bến Nghé' 'Phường Tân Định'
 'Phường Bến Thành' 'Phường Cầu Kho' 'Phường Bình Trưng Tây'
 'Phường Thạnh Mỹ Lợi' 'Phường Thảo Điền' 'Phường Cát Lái' 'Phường An Phú'
 'Phường An Lợi Đông' 'Phường Bình An' 'Phường An Khánh'
 'Phường Bình Trưng Đông' 'Phường Thủ Thiêm' 'Phường Võ Thị Sáu'
 'Phường Phú Mỹ' 'Phường Tân Phú' 'Phường Tân Phong'
 'Phường Tân Thuận Đông' 'Phường Phú Thuận' 'Phường Tân Hưng'
 'phường Tân Phú' 'Phường Bình Thuận' 'Phường Long Thạnh Mỹ'
 'Phường Phú Hữu' 'Phường Phước Long B' 'Phường Trường Thạnh'
 'Phường Long Trường' 'Phường Long Bình' 'Phường Phước Long A'
 'Phường Hiệp Phú' 'Phường Tăng Nhơn Phú A' 'Phường Tân Sơn Nhì'
 'Phường Sơn Kỳ' 'Phường Tây Thạnh' 'Phường Phú Thạnh' 'Phường Tân Quý'
 'Phường Hiệp Tân' 'Phường Tân Thành' 'Phường Linh Trung'
 'Phường Hiệp Bình Chánh' 'Phường Tam Bình' 'Phường Trường Thọ'
 'Phường Bình Thọ' 'Phường Linh Xuân' 'Phường Linh Chiểu'
 'Phường Linh Đông' 'Xã Bình Chánh' 'Xã Lê Minh Xuân' 'Xã Quy Đức'
 'Xã Hưng Long' 'Xã Tân Quý Tây' 'Xã An Phú Tây' 'Xã Phạm Văn Hai'
 'Thị trấn Tân Túc' 'Xã Vĩnh Lộc B' 'Xã Tân Nhựt' 'Phường An Lạc A'
 'Phường 21' 'Thị trấn Cần Thạnh' 'Xã Bình Khánh' 'Xã Tam Thôn Hiệp'
 'Xã Tân Phú Trung' 'Xã Tân Thông Hội' 'Xã Tân Thạnh Đông'
 'Xã Phú Mỹ Hưng' 'Xã Trung An' 'Xã Phạm Văn Cội' 'Xã Tân An Hội'
 'Xã Đông Thạnh' 'Xã Xuân Thới Thượng' 'Xã Xuân Thới Sơn'
 'Xã Tân Thới Nhì' 'Xã Xuân Thới Đông' 'Phường Đông Hưng Thuận'
 'Phường Trung Mỹ Tây' 'Phường Tân Thới Nhất' 'Phường Tân Chánh Hiệp'
 'Phường Nguyễn Thái Bình' 'Phường Phạm Ngũ Lão' 'Phường Cô Giang'
 'Phường Cầu Ông Lãnh' 'Phường Bình Khánh' 'Phường 18' 'Phường Tân Quy'
 'Phường Tân Thuận Tây' 'Phường Tân Kiểng' 'Phường Phước Bình'
 'Phường Long Phước' 'Phường Tăng Nhơn Phú B' 'Phường Phú Thọ Hòa'
 'Phường Hòa Thạnh' 'Phường Phú Trung' 'Phường Tân Thới Hòa'
 'Phường Linh Tây' 'Phường Bình Chiểu' 'Xã Bình Lợi'
 'phường Bình Hưng Hòa B' 'Phường Bình Hưng Hòa a' 'Xã An Thới Đông'
 'Xã Hòa Phú' 'Xã Phước Thạnh' 'Xã Phước Vĩnh An' 'Xã Tân Thạnh Tây'
 'phường 16' 'Xã Hiệp Phước' 'Phường trường thọ' 'Phường Bình Trưng đông'
 'phường Trường Thạnh' 'Xã Phước Hiệp' 'Xã Trung Lập Thượng' 'Xã Thái Mỹ'
 'Phương Nguyễn Hữu Trí']
District:
 ['Bình Chánh' 'Bình Tân' 'Quận 8' 'Bình Thạnh' 'TP Thủ Đức' 'Cần Giờ'
 'Củ Chi' 'Gò Vấp' 'Hóc Môn' 'Nhà Bè' 'Phú Nhuận' 'Quận 10' 'Quận 11'
 'Quận 12' 'Quận 1' 'Quận 3' 'Quận 4' 'Quận 5' 'Quận 6' 'Quận 7'
 'Tân Bình' 'Tân Phú' 'tân phú']
Province:
 ['TP Hồ Chí Minh']
Price:
 [18.0 21.0 6.5 ... '4.739771' '2.795' '5.818']

### Meaning of each field of information:

|No|Attribute name|Meaning 
|---|---|--- 
| 1|Property_type| Loại hình nhà ở, gồm: Nhà biệt thự; Nhà mặt phố; Nhà ngõ, hẻm; Nhà phố liền kề; Chung cư
| 2|Area| Diện tích của bất động sản (đơn vị: m²)
| 3|Width| Chiều rộng của ngôi nhà (đơn vị: m)
| 4|Length| Chiều dài của ngôi nhà (đơn vị: m)
| 5|Frontage| Độ dài mặt tiền của ngôi nhà (đơn vị: m)
| 6|Number_of_floors| Số tầng của nhà mặt đất
| 7|Number_of_bedrooms| Số phòng ngủ của bất động sản
| 8|Number_of_bathrooms| Số phòng tắm của bất động sản
| 9|Legal_status| Tình trạng pháp lý của bất động sản
|10|Furniture| Tình trạng nội thất của bất động sản
|11|House_orientation| Hướng nhà của bất động sản
|12|Balcony_orientation| Hướng ban công của bất động sản
|13|Access_road| Độ dài đường đi vào nhà mặt đất (đơn vị: m)
|14|Posting_date| Ngày đăng tin rao bán bất động sản
|15|Expiry_date| Ngày hết hạn tin rao bán bất động sản
|16|Type_of_listing| Loại tin rao bán bất động sản được đăng lên
|17|Project_name| Tên dự án của bất động sản
|18|Street| Tên Đường/Phố thuộc vị trí của bất động sản
|19|Ward| Tên Phường/Xã/Thị trấn thuộc vị trí của bất động sản
|20|District| Tên Quận/Huyện thuộc vị trí của bất động sản
|21|Province| Tên Tỉnh thành thuộc vị trí của bất động sản
|22|Price| Giá thành của bất động sản (đơn vị: tỷ)

**Observation:**
- Ta thấy cột `Province` chỉ có một giá trị duy nhất là `TP Hồ Chí Minh`, không có ý nghĩa trong dự đoán, vì thế ta sẽ loại bỏ cột này trong phần làm sạch dữ liệu.

In [19]:
rows, cols = real_estate_df.shape
print("rows: ", rows, "\ncols: ", cols)

rows:  57335
cols:  22

In [20]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57335 entries, 0 to 57334
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Property_type        57242 non-null  object
 1   Area                 57328 non-null  float64
 2   Width                3516 non-null   float64
 3   Length               1823 non-null   float64
 4   Frontage             11478 non-null  float64
 5   Number_of_floors     26218 non-null  float64
 6   Number_of_bedrooms   46226 non-null  float64
 7   Number_of_bathrooms  41008 non-null  object
 8   Legal_status         35422 non-null  object
 9   Furniture            23109 non-null  object
 10  House_orientation    13378 non-null  object
 11  Balcony_orientation  7409 non-null   object
 12  Access_road          10602 non-null  float64
 13  Posting_date         57335 non-null  object
 14  Expiry_date          35501 non-null  object
 15  Type_of_listing      35562 non-null  object
 16  Project_name         11751 non-null  object
 17  Street               55145 non-null  object
 18  Ward                 57141 non-null  object
 19  District             57335 non-null  object
 20  Province             57335 non-null  object
 21  Price                57300 non-null  object
dtypes: float64(7), object(15)
memory usage: 9.6+ MB

**Observation:**
- Thuộc tính `Number_of_bathrooms` sai kiểu dữ liệu vì có giá trị *Nhiều hơn 6 phòng*. 
-> Tiến hành xử lý giá trị *Nhiều hơn 6 phòng* và đưa kiểu dữ liệu của thuộc tính `Number_of_bathrooms` từ object về float64.

- Ta thấy nhiều thuộc tính có giá trị *Null*.

- Số lượng giá trị *Null* ở một số thuộc tính cũng khá nhiều.
-> Kiểm tra số lượng giá trị *Null* ở mỗi thuộc tính và đưa ra giải pháp.

In [27]:
# Xử lý cột`Number_of_bathrooms:
#real_estate_df['Number_of_bathrooms'].astype('float64')
#real_estate_df['Number_of_bathrooms'].dtype

In [21]:
# Kiểm tra số giá trị Null ở các thuộc tính:
feature_cols = real_estate_df.columns
def display_null(df, feature_cols):
    n_rows = df.shape[0]
    for col in feature_cols:
        null_count = df[col].isnull().sum()
        if null_count > 0:
            print(f"{col} has {null_count*100/n_rows:.2f}% null values.")

display_null(real_estate_df, feature_cols)

Property_type has 0.16% null values.
Area has 0.01% null values.
Width has 93.87% null values.
Length has 96.82% null values.
Frontage has 79.98% null values.
Number_of_floors has 54.27% null values.
Number_of_bedrooms has 19.38% null values.
Number_of_bathrooms has 28.48% null values.
Legal_status has 38.22% null values.
Furniture has 59.69% null values.
House_orientation has 76.67% null values.
Balcony_orientation has 87.08% null values.
Access_road has 81.51% null values.
Expiry_date has 38.08% null values.
Type_of_listing has 37.98% null values.
Project_name has 79.50% null values.
Street has 3.82% null values.
Ward has 0.34% null values.
Price has 0.06% null values.

**Observation:**
- Các thuộc tính như `Width`, `Length`, `Frontage`, `Number_of_floors`, `Furniture`, `House_orientation`, `Balcony_orientation`, `Access_road`, `Project_name` có hơn một nửa là giá trị *Null*.

In [22]:
real_estate_df.describe()

,Area,Width,Length,Frontage,Number_of_floors,Number_of_bedrooms,Access_road
count,57328.000000,3516.000000,1823.000000,11478.000000,26218.000000,46226.000000,10602.000000
mean,114.704672,5.469146,16.382644,7.021206,3.399954,3.471488,11.772364
std,225.150038,7.520834,10.722797,12.353132,2.828212,4.685900,10.676358
min,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.050000
25%,59.000000,4.000000,12.000000,4.000000,2.000000,2.000000,6.000000
50%,76.000000,4.100000,15.000000,5.000000,3.000000,3.000000,8.000000
75%,112.000000,5.000000,19.000000,8.000000,4.000000,4.000000,14.000000
max,18500.000000,350.000000,222.500000,980.000000,344.000000,200.000000,322.000000

**Observation:**
- Với cột `Area`, giá trị diện tích lớn nhất là 18500 (m²), nhưng có tới 75% giá trị diện tích là 112 (m²). Việc này chứng tỏ phân bố của dữ liệu này khá lệch (skewed).

- Tương tự với các cột còn lại.

In [23]:
real_estate_df.describe(include='O')

,Property_type,Number_of_bathrooms,Legal_status,Furniture,House_orientation,Balcony_orientation,Posting_date,Expiry_date,Type_of_listing,Project_name,Street,Ward,District,Province,Price
count,57242,41008,35422,23109,13378,7409,57335,35501,35562,11751,55145,57141,57335,57335,57300
unique,5,7,3,4,12,12,180,128,4,1281,5781,186,23,1,3037
top,Chung cư,2,Đã có sổ,Có nội thất,Đông - Nam,Đông - Nam,10/11/2023,23/11/2023,Tin thường,Dự án Celadon City,Đường Huỳnh Tấn Phát,Phường 12,TP Thủ Đức,TP Hồ Chí Minh,2.5
freq,20466,18154,31444,20575,1630,1314,3989,2052,34560,172,655,2155,10308,57335,393

**Observation:**
- Với cột `Legal_status`, có *23109* giá trị khác *Null* nhưng lại có đến *20575* giá trị là *Có nội thất*.

- Tương tự với các cột `Type_of_listing`, `Province`.

In [24]:
# Get categorical columns and numerical columns
categorical_cols = [feature for feature in real_estate_df.columns if real_estate_df[feature].dtype == "object"]
numerical_cols = [feature for feature in real_estate_df.columns if real_estate_df[feature].dtype != "object"]
print('Categorical columns: ', categorical_cols)
print('Numerical columns:', numerical_cols)

Categorical columns:  ['Property_type', 'Number_of_bathrooms', 'Legal_status', 'Furniture', 'House_orientation', 'Balcony_orientation', 'Posting_date', 'Expiry_date', 'Type_of_listing', 'Project_name', 'Street', 'Ward', 'District', 'Province', 'Price']
Numerical columns: ['Area', 'Width', 'Length', 'Frontage', 'Number_of_floors', 'Number_of_bedrooms', 'Access_road']

### Data Visualization: